<!DOCTYPE html>
<html ng-app="Profile">
<head>
    <meta name = "viewport" content = "width = device-width , initial-scale=1.0">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/profileStyle.css" rel="stylesheet">
    <script src="../javascripts/angular.min.js"></script>
</head>
<body ng-controller="ProfileController">
<div class = "navbar navbar-default navbar-static-top">
    <div class = "navbar-header">

        <ul class = "nav navbar-nav navbar-right">
            <li><a href = "#"><span class="glyphicon glyphicon-home pull-left"> Home</span></a></li>
            <li><a href = "#"><span class="glyphicon glyphicon-flash pull-left"> Moments</span></a></li>
            <li><a href = "#"><span class="glyphicon glyphicon-bell pull-left"> Notifications</span></a></li>
            <li><a href = "#"><span class="glyphicon glyphicon-envelope pull-left"> Messages</span></a></li>
        </ul>
    </div>

    <p class="navbar-btn pull-right">
        <a href="#tweet" data-toggle="modal">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"> Tweet</span>
            </button>
        </a>
        <button class="btn btn-danger" ng-click="logout()">
            Logout
        </button>

    </p>
    <div class="pull-right">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search" ng-model="search" ng-keyup="searchUsers()" autocomplete="off">
                <div class="search-suggestions" id="suggestions">
                    <table class="table table-condensed">
                        <tr ng-repeat="results in searchResults">
                            <td>
                                <a href="/getProfile/{{results.ID}}">{{results.username}}</a><br/>
                                {{results.tweet}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="searchUsers()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class = "jumbotron">

</div>

<div class="container" ng-init="getCurrentUser()">
    <div class="row col-md-3">
        <img src="http://whiskeyreviewer.com/wp-content/uploads/2015/07/amanda_cerny_1.jpg" class="ProfileAvatar-image ProfileAvatar-placeholderImage img-thumbnail">
    </div>
    <div class="col-md-3 pull-right">
        <button class="btn btn-primary" ng-click = "follow()"><span class="glyphicon glyphicon-plus">Follow</span></button>
    </div>
    <div class="col-lg-9">
        <table class="table-hover" ng-init="getTweetsByUser()">
            <thead>
                <th>
                    <p>
                        Tweets by <p id="searchedUserName" ng-model="searchedUserName"> <%= searchResultsUserName %>
                    </p>
                </th>
            </thead>
            <tbody>
            <tr ng-repeat="tweet in allTweets">
                <td>
                    {{tweet}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="row col-md-3">
        <p class="text-center"><strong><%= searchResultsUserName%></strong></p>
    </div>
</div>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/ProfileHandler.js"></script>
</html>